<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Justin Lynn Reid | Atmospheric Scientist and Software Engineer</title>

    <!-- custom CSS for this blog -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Links needed for ArcGIS API-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="js/locationMap.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-default title-bar">
      <div class="container ">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
               Justin Lynn Reid
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/about">CV/Resume<span class="sr-only">(current)</span></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">   
      <div class="row">
        <div class="col-md-3">

          <img src="images/me.jpg" width="100px" height="100px" class="profile_img"/>
          <div>
           <a href="https://www.linkedin.com/pub/justin-reid/46/274/286" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Justin Reid's LinkedIn profile" style="vertical-align:middle;" border="0"></a>
          </div>
           <p class="img_cap content">          
              My name is Justin Lynn Reid and I am an atmospheric scientist and software engineer working in
            Norman, OK
          </p>

        </div>
        <div class="col-md-9">
          <div class="row content">
            <div class="col-md-12">
                <h2>Overview</h2>

                  <p>
                    I am a professional atmospheric scientist and software engineer who specializes in the subject areas of meteorology, weather forecasting & research, data wrangling, Geographic Information Systems, web development, and scientific software development. My work has been used in applications including but not limited to climate change, agriculture, insurance, and the renewable energy industries. Moving forward I hope to take my multidisciplinary STEM skillset and experience and apply it to web development, general software engineering, and data science.
                  </p>

                  <br>

                <h2>Skills</h2>

                  <p>
                    As a natural scientist with a strong multidisciplinary background, I have learned many different skills that help to either gain insight or create systems that provide value in a variety of different domain interests. These skills are as follows:

                    <ul>
                      <li>A unique combination of software engineering and domain knowledge that can be used to solve the unique problems that arise during applied research and development</li>
                      <li>Science and engineering know-how that can be used to communicate insights to a wide set of audiences</li>
                      <li>Experience with both traditional research and businuess environments and how they work together in order to create value</li>
                    </ul>
                  </p>
                  
                  <br>

                  <h2> Technical and Software Engineering Skills</h2>
                  <ul>
                    <li>Python and Scientific Python Development</li>
                    <li>Data Wrangling</li>
                    <li>Unit-Testing and Test-Driven Development</li>
                    <li>JavaScript for both the client side and Node.js</li>
                    <li>Full Stack Web Development</li>
                    <li>MySQL, PostgreSQL, and MongoDB</li>
                    <li>Linux</li>
                    <li>Shell Scripting</li>
                    <li>Agile Practices and Atlassian Technologies such as Stash, Confluence, and HipChat</li>
                    <li>Jenkins Continuous Integration</li>
                    <li>Geographic Information Systems (GIS) This includes technologies such as ArcGIS, QGIS, and PostGIS</li>
                    <li>Git and Github, my GitHub account is located <a href="https://github.com/synflyn28">here</a></li>
                    <li>HTML, CSS, and Bootstrap</li>
                    <li>A Basic Familiarity with Java and FORTRAN90</li>
                    <li>The Proprietary Weather Radar Software Suite WDSSII-2. The documentation page is located <a href="http://www.wdssii.org">here</a></li>
                    <li>The Local Data Manager (LDM) meteorology software package by Unidata. The documentation page is located <a href="http://www.unidata.ucar.edu/software/ldm/">here</a></li>

                  </ul>

                  <br>
                  <h2>Education and Academic Honors</h2>

                  <ul>
                    <li>Degree: Bachelor's of Science (BS) in the Atmospheric Sciences with a Minor in Mathematics, the University of North Carolina at Asheville, May 5, 2012.</li>
                    <li>Graduated with Distinction in the Atmospheric Sciences</li>
                    <li>Overall GPA: 3.43</li>
                    <li>Major GPA: 3.57</li>
                    <li>Deans List for Fall 2008, 2010, and 2011 Semesters</li>
                    <li>Inducted into the Omicron Delta Kappa National Leadership Honor Society in April 2012. Link to the organization's about page is <a href="http://odk.org/odk/">here</a></li>
                    <li>Category 4 Runner Up in the National Collegiate Weather Forecasting Competition, WxChallenge. Link to the contest's about page is <a href="http://wxchallenge.com/info/about.php">here</a>
                  </ul>

                  <br>

                  <h2> Academic Publications and Undergraduate Research</h2>
                    <ul>
                      <li>Christopher C. Hennon, Philippe P. Papin, Christopher M. Zarzar, Jeremy R. Michael, Justin L. Reid, et al.  2013: Tropical Cloud Cluster Climatology, Variability, and Genesis Productivity. J. Climate, 26, 3046–3066. 
                      </li>
                      <li>
                        Justin Reid 2012 the Use of Server-Side GIS to Bring Scientific Literacy to a Diverse Set of Audiences,  <em>UNC Ashevile Undergraduate Research Symposium</em>, Asheville, NC.
                      </li>
                      <li>
                        Justin Reid, Douglas K. Miller, and L. Baker Perry 2011-The Moist Unsaturated Froude Number as a Precipitation Forecasting Aid during Northwest Flow Snowfall, <em>UNC Asheville Undergraduate Research Symposium</em>, Asheville, NC.
                      </li>
                    </ul>

                  <br>

                  <h2> Indepedent and Non-Traditional Coursework </h2>

                  <p>
                    Along with my university work I have taken additional courses outside academia in order to keep my skills current with market needs. They are as follows:
                    <br>
                    <ul>
                      <li>Beginning Python, O'Reilly School of Technology. Link to the school's homepage is <a href="http://www.oreillyschool.com">here</a></li>
                      <li>OKCoders, Oklahoma's First Developer Bootcamp. Link to the program's about page is <a href="http://www.okcoders.com/about/">here</a></li>
                    </ul>
                  </p>

                  <br>

                  <h2>Work Experience</h2>

                  <br>

                  <h4>April 2014-June 2015, <a href="http://wdtinc.com">Weather Decision Technologies Inc.</a></h4>
                  <h4>Title: Geographic Information Systems Programmer</h4>

                  <br>

                  <h4>Responsibilities</h4>

                  <ul>
                    <li>Creating a variety of fault-tolerant GIS data pipelines for a diverse set of ESRI map services using unique meteorological data content</li> 
                    <li>Performing data conversion spatial analysis on WDT’s weather data in order to normalize them into formats that can be ingested into GIS software architecture</li>
                    <li>Applying this set of knowledge to a wide variety of clients and domains; this includes both insurance and agriculture sectors</li>
                  </ul>

                  <h4>Accomplishments</h4>
                  
                  <ul>
                    <li>Placed several GIS feeds into production environments in both a stable and timely fashion</li>
                    <li>Used both programming techniques and open source tools to make server side GIS data feeds relatively scalable, and resistant to possible bad data issues</li>
                  </ul>

                  <br>
                  
                  <h4>September 2012-April 2014, <a href="http://wdtinc.com">Weather Decision Technologies Inc.</a></h4>
                  <h4>Title: Meteorological Programmer</h4>
                  
                  <br>

                  <h4>Responsibilities</h4>
                  <ul>
                    <li>Creating a variety of scientific programming solutions for a wide variety of needs and customers</li>
                    <li>Performing data quality control on several unique datasets to ensure that errors weren’t raised on production systems</li>
                  </ul>

                  <h4>Accomplishments</h4>
                  <ul> 
                    <li> Made several programs and applications that performed a variety of needed scientific tasks, this includes data transfer, a basic web app, and a PostGIS geodatabase ingest</li>
                    <li> Used a custom software suite owned by WDT in order to process and quality control weather radar data into ArcGIS raster files used for precipitation amount estimation by a client</li>
                  </ul>

                  <br>

                  <h4>September 2011-Apri1 2012 <a href="https://nemac.unca.edu">UNC Asheville’s National Environmental Modeling and Analysis Center (NEMAC)</a></h4>
                  <h4>Title: GIS Assistant</h4>

                  <br>

                  <h4>Responsibilities</h4>
                  <ul>
                    <li>Symbolizing and Analyzing GIS datasets for maps and web applications</li>
                    <li>Completing introductory GIS development work on a variety of projects in a Linux server environment</li>
                    <li>Presenting work completed as undergraduate research to peers, colleagues, and academic officials</li>
                  </ul>

                  <h4>Accomplishments</h4>
                  <ul>
                    <li>Symbolized over 200 maps for the National Climate Assessment (NCA), a government initiative started in 1990 to study the effects of climate change.</li>
                    <li>Transferred ESRI shapefiles to the open source PostGIS server platform and wrote a program to automate most of the process</li>
                    <li>Created a Python script to automatically make MapServer mapfiles from PostGIS vector data tables so that multiple PostGIS datasets can be displayed and layered on top of one another in a web based environment</li>
                    <li>Started a code base to transfer PostGIS data files to an open source development version of the Forest Change Assessment Viewer (FCAV) a browser-based GIS platform used by the forestry service to diagnose forest health over a geographic region</li>
                  </ul>

                  <br>

                  <h4>2009-2012, The Sounding-Based Experiment during Mixed Precipitation Events (SEMPE) </h4>
                  <h4>Title: Snowfall Researcher</h4>

                  <br>
                  
                  <h4>Responsibilities</h4>
                  <ul>              
                    <li>Taking upper air observations via weather balloons during winter weather events at a dense time interval (every three hours)</li>
                    <li>Aiding in transferring weather balloon sounding data remotely to a university Linux server for both post processing and for sharing that data to the National Weather Service, researchers, and the general public.</li>
                  </ul>


                  <h4>Accomplishments</h4>
                  <ul>
                    <li>Successfully sampled three winter weather events over three years and helped National Weather Service offices nowcast during 2 high end winter storms</li>
                  </ul>
                  
                  <br>

                  <h4>August 2006-July 2006 and August 2007, Forecaster Shadowing Program, <a href="http://www.weather.gov/gsp/">National Weather Service Forecast Office Greenville-Spartanburg</a></h4>
                  <h4>Title: Student Volunteer</h4>
                  
                  <h4>Responsibilities</h4>
                  <ul>
                  <li>Learn what the duties of an operational meteorologist at a local National Weather Service forecast office are and how they are completed in a team environment.</li>
                  <li>Complete basic nowcasts via the Advanced Weather Interactive Processing System (AWIPS) and basic upper air and surface map analyses.</li>
                  </ul>


                  <h4>Accomplishments</h4>
                  <ul>
                    <li>Learned the basics of numerical weather prediction model output, weather balloon sounding analysis, and basic upper air and surface map analysis</li>
                    <li>Learned about many of the operational computing systems used at local National Weather Service forecast offices such as Display in 2 Dimensions (D2D), NWRWAVES, the Graphical Forecast Editor (GFE), and Bufkit</li>

                  </ul>

                  <br>
                  <br>

          <div class="row">
            <div class="col-md-12">
              <h2> Contact Info: </h2>
              <div id="map-canvas"></div>
            </div>
            
          </div>

        </div>

    </div> <!-- Main body column divisions -->
    </div>

  </body>
</html>