.title-bar {
	font-family:'Raleway';
	background-color: white;
}

.content {
	font-family:'Open Sans';
}

.profile_img{
	border-radius: 100%;
	border: 1px solid #999999;
}

.img_cap {
	padding-top: 3px;
}


#map-canvas {
	width: 800px;
	height: 500px;
}